:root {
  --color-primary: #1b1a1f;
  --color-secondary: #26272e;
  --color-accent: #fde910;
  --color-accent-hover: #e6d500;
  --color-text: white;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text);
  font-family: Arial, sans-serif;
}

.btn {
  padding: 10px 20px;
  background: var(--color-accent);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background: var(--color-accent-hover);
}

.avatar {
    border-radius: 50%;
    background-size: cover;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--color-text);
    cursor: pointer;
}

.chat-item .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-item .info {
    flex: 1;
}

.chat-item .info .name {
    font-weight: bold;
}

.chat-item .info .last-message {
    font-size: 0.9em;
}

